---
title: Christopher A. Wood | Research
---

<h2> Publications, Technical Reports, Internet Drafts</h2>

<p>See my <a href="https://scholar.google.com/citations?user=f_QuauMAAAAJ&hl=en">Google Scholar</a> profile
for a complete collection of my publications.</p>

<h3><b>Conference Proceedings</b></h3>

<!-- https://crypto.stanford.edu/~dwu4/pcprfs.html -->
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "conference" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a href="<%= p.links["pdf"] %>"><span class="badge-blue">PDF</span></a><% end %>
        <% if p.links["slides"] then %><a href="<%= p.links["slides"] %>"><span class="badge-green">slides</span></a><% end %>
        <% if p.links["code"] then %><a href="<%= p.links["code"] %>"><span class="badge-red">code</span></a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Journal Articles</h3>

<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "journal" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a href="<%= p.links["pdf"] %>"><span class="badge-blue">PDF</span></a><% end %>
        <% if p.links["slides"] then %><a href="<%= p.links["slides"] %>"><span class="badge-green">slides</span></a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Posters</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "poster" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a href="<%= p.links["pdf"] %>"><span class="badge-blue">PDF</span></a><% end %>
        <% if p.links["slides"] then %><a href="<%= p.links["slides"] %>"><span class="badge-green">slides</span></a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Theses</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "thesis" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a href="<%= p.links["pdf"] %>"><span class="badge-blue">PDF</span></a><% end %>
        <% if p.links["slides"] then %><a href="<%= p.links["slides"] %>"><span class="badge-green">slides</span></a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Technical Reports</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "report" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a href="<%= p.links["pdf"] %>"><span class="badge-blue">PDF</span></a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Internet Drafts</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "id" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <a href="<%=p.links["html"]%>"><span class="badge-blue">HTML</span></a>
        <a href="<%=p.links["txt"]%>"><span class="badge-green">TXT</span></a>
    </li>
    <% end %>
    <% end %>
</ol>
