---
title: Christopher A. Wood | Research
---

<h2> Publications, Technical Reports, Internet Drafts</h2>

<p>See my <a href="https://scholar.google.com/citations?user=f_QuauMAAAAJ&hl=en">Google Scholar</a> profile
for a complete collection of my publications.</p>

<h3><b>Conference Proceedings</b></h3>

<!-- https://crypto.stanford.edu/~dwu4/pcprfs.html -->
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "conference" then %>
    <li>
        <p><b><%= link_to p.title, "/publications/#{key}.html" %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a class="button is-info" href="<%= p.links["pdf"] %>">PDF</a><% end %>
        <% if p.links["slides"] then %><a class="button is-success" href="<%= p.links["slides"] %>">slides</a><% end %>
        <% if p.links["code"] then %><a class="button is-warning" href="<%= p.links["code"] %>">code</a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Journal Articles</h3>

<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "journal" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a class="button is-info" href="<%= p.links["pdf"] %>">PDF</a><% end %>
        <% if p.links["slides"] then %><a class="button is-success" href="<%= p.links["slides"] %>">slides</a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Posters</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "poster" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a class="button is-info" href="<%= p.links["pdf"] %>">PDF</a><% end %>
        <% if p.links["slides"] then %><a class="button is-success" href="<%= p.links["slides"] %>">slides</a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Theses</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "thesis" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a class="button is-info" href="<%= p.links["pdf"] %>">PDF</a><% end %>
        <% if p.links["slides"] then %><a class="button is-success" href="<%= p.links["slides"] %>">slides</a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Technical Reports</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "report" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <% if p.links["pdf"] then %><a class="button is-info" href="<%= p.links["pdf"] %>">PDF</a><% end %>
    </li>
    <% end %>
    <% end %>
</ol>

<h3>Internet Drafts</h3>
<ol>
    <% data.publications.pubs.each do |key, p| %>
    <% if p.type == "id" then %>
    <li>
        <p><b><%= link_to p.title, p.page %></b></p>
        <%= p.authors %></br>
        <a class="button is-info" href="<%=p.links["html"]%>">HTML</a>
        <a class="button is-success" href="<%=p.links["txt"]%>">TXT</a>
    </li>
    <% end %>
    <% end %>
</ol>

<h2>Talks and Presentations</h2>
<ol>
    <% data.talks.talks.each do |t| %>
    <li>
        <% if t.links["pdf"] and t.links["pdf"].length > 0 then %> <p><b>"<%= link_to t.title, t.links["pdf"] %>,"</b> <%= t.venue %>.</p>
        <% else %>
        <p><b>"<%= t.title %>,"</b> <%= t.venue %>.</p>
        <% end %>
    </li>
    <% end %>
</ol>
